<div>
  <div class="row">
    <div class="col-md-4" id="body">
      <%=raw @page.content_for(:column1) %>
    </div>
    <div class="col-md-4" id="side_body">
      <%=raw @page.content_for(:column2) %>
    </div>
    <div class="col-md-4" id="nova_p">
      <%=raw @page.content_for(:column3) %>
    </div>
  </div>
</div>