<div>
  <div class="row">
    <div class="col-md-6" id="body">
      <%=raw @page.content_for(:body) %>
    </div>
    <div class="col-md-6" id="side_body">
      <%=raw @page.content_for(:side_body) %>
    </div>
  </div>
</div>