$w : auto;
$h : 400px;

.background-news {
  background-color: darkseagreen;

  width: $w;
  height: $h;

  background-size:$w $h;
  -webkit-background-size: $w $h;
  -o-background-size: $w $h;
  -khtml-background-size: $w $h;
  -moz-background-size: $w $h;
  }

.resize-img img {
  width: 100%;
  height: auto;
}

.country-flag {
  width: 20px;
  height: 20px;
}
